<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>ContextParam</param-name>
  	<param-value>allServlets</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>FrontPageServlet</servlet-name>
  	<servlet-class>com.revature.servlets.ReimbMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontPageServlet</servlet-name>
  	<url-pattern>/frontPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewReimbServlet</servlet-name>
  	<servlet-class>com.revature.servlets.NewReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewReimbServlet</servlet-name>
  	<url-pattern>/newRequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ViewReimbServlet</servlet-name>
  	<servlet-class>com.revature.servlets.ViewReimbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewReimbServlet</servlet-name>
  	<url-pattern>/viewRequest</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>cors</filter-name>
  	<filter-class>com.revature.cors.CorsFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>cors</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>